# [安裝anaconda](https://yaojenkuo.io/intro_2_py_ds_esun/chapter0.slides.html#/)

## [jupyter notebook快捷鍵](http://opus.konghy.cn/ipynb/jupyter-notebook-keyboard-shortcut.html)
* ESC鍵、Ctrl+M→進入meta狀態

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

## [申請Kaggle帳號](https://www.kaggle.com/)

![資料類型](https://raw.githubusercontent.com/somegreed/pic/master/1.png)


## List沒辦法處理element-wise資料
## 透過pandas或numpy.array

![array](https://raw.githubusercontent.com/somegreed/pic/master/2.png)

## dropna()、fillna()
![3.png](https://raw.githubusercontent.com/somegreed/pic/master/3.png)
![4.png](https://raw.githubusercontent.com/somegreed/pic/master/4.png)
![5.png](https://raw.githubusercontent.com/somegreed/pic/master/5.png)
![6.png](https://raw.githubusercontent.com/somegreed/pic/master/6.png)

## https://pandas.pydata.org/pandas-docs/stable/index.html

![7.png](https://raw.githubusercontent.com/somegreed/pic/master/7.png)
![8.png](https://raw.githubusercontent.com/somegreed/pic/master/8.png)
![9.png](https://raw.githubusercontent.com/somegreed/pic/master/9.png)
![10.png](https://raw.githubusercontent.com/somegreed/pic/master/10.png)
![11.png](https://raw.githubusercontent.com/somegreed/pic/master/11.png)

## 讀資料
* [pandas](https://yaojenkuo.io/intro_2_py_ds_esun/chapter4.slides.html#/12)
* 讀sas資料 read_sas，但建議轉換成[csv檔](https://stackoverflow.com/questions/48170960/why-is-pandas-read-sas-so-much-slower-than-pandas-read-csv)後再讀入

## [Titanic：Machine Learning from Disater](https://www.kaggle.com/c/titanic)

In [4]:
#讀資料
train_url = "https://storage.googleapis.com/py_ml_datasets/train.csv"
train = pd.read_csv(train_url)
#看資料
print train.head(3)
print train.shape

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
(891, 12)

In [5]:
#事件發生比例與數量
print train.Survived.value_counts(normalize=False)
print train.Survived.value_counts(normalize=True)

0    549
1    342
Name: Survived, dtype: int64
0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [6]:
#遺漏值件數
print train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
#變數分布
print train.agg(['mean','median','max','min'])

        PassengerId  Survived    Pclass                         Name     Sex  \
max           891.0  1.000000  3.000000  van Melkebeke, Mr. Philemon    male
mean          446.0  0.383838  2.308642                          NaN     NaN
median        446.0  0.000000  3.000000                          NaN     NaN
min             1.0  0.000000  1.000000          Abbing, Mr. Anthony  female

              Age     SibSp     Parch     Ticket        Fare Cabin Embarked
max     80.000000  8.000000  6.000000  WE/P 5735  512.329200     T        S
mean    29.699118  0.523008  0.381594        NaN   32.204208   NaN      NaN
median  28.000000  0.000000  0.000000        NaN   14.454200   NaN      NaN
min      0.420000  0.000000  0.000000     110152    0.000000   inf      inf

In [11]:
print train.quantile([0.25,0.75])

      PassengerId  Survived  Pclass     Age  SibSp  Parch     Fare
0.25        223.5       0.0     2.0  20.125    0.0    0.0   7.9104
0.75        668.5       1.0     3.0  38.000    1.0    0.0  31.0000

In [12]:
print train.groupby('Survived').agg(['count','mean','median','max','min'])

         PassengerId                             Pclass                       \
               count        mean median  max min  count      mean median max
Survived
0                549  447.016393  455.0  891   1    549  2.531876      3   3
1                342  444.368421  439.5  890   2    342  1.950292      2   3

             ...  Parch                           Fare                    \
         min ...  count      mean median max min count       mean median
Survived     ...
0          1 ...    549  0.329690      0   6   0   549  22.117887   10.5
1          1 ...    342  0.464912      0   5   0   342  48.395408   26.0


               max  min
Survived
0         263.0000  0.0
1         512.3292  0.0

[2 rows x 30 columns]

In [13]:
#補值
print train.Survived.isnull().sum()
print train.Survived[train.Sex == 'male'].value_counts(normalize = True, sort = False)
print "\n"
print train.Survived[train.Sex == 'male'].value_counts(normalize = False, sort = False)
print train.Survived.value_counts(normalize = False, sort = False)
print "\n"
print train.Embarked.value_counts(normalize = False, sort = False)
print train.Embarked.value_counts(normalize = False, sort = False,dropna=False)

0
0    0.811092
1    0.188908
Name: Survived, dtype: float64


0    468
1    109
Name: Survived, dtype: int64
0    549
1    342
Name: Survived, dtype: int64


C    168
Q     77
S    644
Name: Embarked, dtype: int64
NaN      2
C      168
Q       77
S      644
Name: Embarked, dtype: int64

In [15]:
most_embarked = train.Embarked.value_counts().index[0]
print most_embarked
train.Embarked = train.Embarked.fillna(most_embarked)
print sum(train.Embarked.isnull())

S
0

In [16]:
age_median = train.Age.median()
print sum(train.Age.isnull())
train.Age = train.Age.fillna(age_median)
print sum(train.Age.isnull())

177
0

In [22]:
#變數轉換 one-hot encodeing
train_sex_embarked_dummies = pd.get_dummies(train.loc[:, ["Sex", "Embarked"]])
print train_sex_embarked_dummies.head(3)

   Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0           0         1           0           0           1
1           1         0           1           0           0
2           1         0           0           0           1

In [38]:
train_dummies=pd.get_dummies(train)
print train_dummies.head(3)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  \
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250

   Name_Abbing, Mr. Anthony  Name_Abbott, Mr. Rossmore Edward  \
0                         0                                 0
1                         0                                 0
2                         0                                 0

   Name_Abbott, Mrs. Stanton (Rosa Hunt)     ...      Cabin_F G73  Cabin_F2  \
0                                      0     ...                0         0
1                                      0     ...                0         0
2                                      0     ...                0         0

   Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T  Embarked_C  Embarked_Q  \
0          0          0         0         0        0           0           0
1          0          0         0         0        0           1           0
2          0          0         0         0        0           0           0

   Embarked_S
0           1
1           0
2           1

[3 rows x 1731 columns]

In [23]:
train_drop=train.copy()
train_drop.drop(["Cabin","Name","Ticket"],inplace=True,axis=1)
print train_drop.head(3)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S

In [24]:
train_drop_dummies=pd.get_dummies(train_drop)
print train_drop_dummies.head(3)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  \
0            1         0       3  22.0      1      0   7.2500           0
1            2         1       1  38.0      1      0  71.2833           1
2            3         1       3  26.0      0      0   7.9250           1

   Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         1           0           0           1
1         0           1           0           0
2         0           0           0           1

In [25]:
# 整理 features 跟 target
train_features = train_drop_dummies.copy()
train_features.drop(['Survived'],axis=1,inplace=True)
print train_features.head(3)

   PassengerId  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male  \
0            1       3  22.0      1      0   7.2500           0         1
1            2       1  38.0      1      0  71.2833           1         0
2            3       3  26.0      0      0   7.9250           1         0

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1

In [26]:
target=train_drop_dummies.Survived.values
print target

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

## [Partition](https://yaojenkuo.io/intro_2_py_ds_esun/chapter7.slides.html#/6/5)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_features, target, test_size = 0.3)

## [決策樹](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)

In [28]:
from sklearn import tree
# 建立模型
# random_state確保每次跑的結果是一樣的
tree_clf = tree.DecisionTreeClassifier(criterion = 'entropy', random_state = 87)
tree_clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=87, splitter='best')

## [評估指標](https://yaojenkuo.io/intro_2_py_ds_esun/chapter7.slides.html#/7)
* [F1 Score](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html)
* [Recall](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html)
* [ROC](http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html)
* [Cross-Validation](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score)

In [43]:
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
predictions_tree_train = tree_clf.predict(X_train)
predictions_tree_test = tree_clf.predict(X_test)
f1_train = f1_score(y_train, predictions_tree_train)
f1_test = f1_score(y_test, predictions_tree_test)
recall_train = recall_score(y_train, predictions_tree_train)
recall_test = recall_score(y_test, predictions_tree_test)
roc_train = roc_auc_score(y_train, predictions_tree_train)
roc_test = roc_auc_score(y_test, predictions_tree_test)

print f1_train
print f1_test
print recall_train
print recall_test
print roc_train
print roc_test

1.0
0.694835680751
1.0
0.718446601942
1.0
0.75013239188

In [32]:
from sklearn.model_selection import cross_val_score
scores_f1 = cross_val_score(tree_clf, train_features, target, cv=5,scoring="f1")
print scores_f1.mean()

0.621594703331

In [33]:
scores_recall = cross_val_score(tree_clf, train_features, target, cv=5,scoring="recall")
print scores_recall.mean()

0.603282182438

## [羅輯斯迴歸](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)

In [34]:
from sklearn.linear_model import LogisticRegression
LR_clf = LogisticRegression(random_state=99)
LR_clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=99, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
predictions_lr_train = LR_clf.predict(X_train)
predictions_lr_test = LR_clf.predict(X_test)
f1_train = f1_score(y_train, predictions_lr_train)
f1_test = f1_score(y_test, predictions_lr_test)
recall_train = recall_score(y_train, predictions_lr_train)
recall_test = recall_score(y_test, predictions_lr_test)
roc_train = roc_auc_score(y_train, predictions_lr_train)
roc_test = roc_auc_score(y_test, predictions_lr_test)

print f1_train
print f1_test
print recall_train
print recall_test
print roc_train
print roc_test

0.733333333333
0.71921182266
0.690376569038
0.708737864078
0.785292451185
0.772550750221

## [SVM](http://scikit-learn.org/stable/modules/svm.html)
* [SVC](http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html)

In [51]:
from sklearn.svm import SVC

# 建立模型
%time svm_clf = SVC(kernel = 'linear', random_state = 87)
%time svm_clf.fit(X_train, y_train)
#%timeit svm_clf.fit(X_train, y_train)

Wall time: 0 ns
Wall time: 19 s

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=87, shrinking=True,
  tol=0.001, verbose=False)

In [52]:
predictions_svc_train = svm_clf.predict(X_train)
predictions_svc_test = svm_clf.predict(X_test)
f1_train = f1_score(y_train, predictions_svc_train)
f1_test = f1_score(y_test, predictions_svc_test)
recall_train = recall_score(y_train, predictions_svc_train)
recall_test = recall_score(y_test, predictions_svc_test)
roc_train = roc_auc_score(y_train, predictions_svc_train)
roc_test = roc_auc_score(y_test, predictions_svc_test)

print f1_train
print f1_test
print recall_train
print recall_test
print roc_train
print roc_test

0.726862302483
0.710659898477
0.673640167364
0.679611650485
0.780830500349
0.767078552515

## [隨機森林](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

In [53]:
from sklearn.ensemble import RandomForestClassifier

# 建立模型
forest_clf = RandomForestClassifier(max_depth = 10, min_samples_split = 5, n_estimators = 100,\
                                    random_state = 87, criterion = 'entropy')
forest_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=5, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=87,
            verbose=0, warm_start=False)

In [55]:
predictions_rf_train = forest_clf.predict(X_train)
predictions_rf_test = forest_clf.predict(X_test)
f1_train = f1_score(y_train, predictions_rf_train)
f1_test = f1_score(y_test, predictions_rf_test)
recall_train = recall_score(y_train, predictions_rf_train)
recall_test = recall_score(y_test, predictions_rf_test)
roc_train = roc_auc_score(y_train, predictions_rf_train)
roc_test = roc_auc_score(y_test, predictions_rf_test)

print f1_train
print f1_test
print recall_train
print recall_test
print roc_train
print roc_test

0.911111111111
0.748768472906
0.857740585774
0.73786407767
0.921057792887
0.796204766108

## Ensemble
* [多數決](https://yaojenkuo.io/intro_2_py_ds_esun/chapter7.slides.html#/10/2)
* [VotingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html)

In [56]:
from sklearn.ensemble import VotingClassifier
eclf = VotingClassifier(estimators=[('tree', tree_clf), ('LR', LR_clf), ('svc', svm_clf),\
                                    ('forest',forest_clf)])
eclf.fit(X_train, y_train)
predictions_eclf_train = eclf.predict(X_train)
predictions_eclf_test = eclf.predict(X_test)
f1_train = f1_score(y_train, predictions_eclf_train)
f1_test = f1_score(y_test, predictions_eclf_test)
recall_train = recall_score(y_train, predictions_eclf_train)
recall_test = recall_score(y_test, predictions_eclf_test)
roc_train = roc_auc_score(y_train, predictions_eclf_train)
roc_test = roc_auc_score(y_test, predictions_eclf_test)
print f1_train
print f1_test
print recall_train
print recall_test
print roc_train
print roc_test

0.813559322034
0.715789473684
0.702928870293
0.660194174757
0.843651935146
0.772521329803

In [57]:
test_url = "https://storage.googleapis.com/py_ml_datasets/test.csv"
test = pd.read_csv(test_url)
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [58]:
print test.shape
print test.isnull().sum()

(418, 11)
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [59]:
# Age 的遺漏值以中位數填補
age_median = test.Age.median()
test.Age = test.Age.fillna(age_median)
print sum(test.Age.isnull())

# Fare 的遺漏值以平均數填補
fare_median = test.Fare.median()
test.Fare = test.Fare.fillna(fare_median)
print sum(test.Fare.isnull())

0
0

In [62]:
test_drop=test.copy()
test_drop.drop(["Cabin","Name","Ticket"],inplace=True,axis=1)
test_drop_dummies=pd.get_dummies(test_drop)
test_features = test_drop_dummies.copy()

# 預估
predictions = forest_clf.predict(test_features)
print predictions

[0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 1 1 0 0 0
 1 1 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1 0 1 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 0 1 1 1 1 0 0 1 0 0 1]

In [63]:
PassengerId =np.array(test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(predictions, PassengerId,columns = ["Survived"])
print my_solution.head()
print my_solution.shape
my_solution.to_csv("test.csv", index_label = ["PassengerId"])

     Survived
892         0
893         0
894         0
895         0
896         0
(418, 1)

In [10]:
%pwd
# shift tab說明
# tab補完指令

u'C:\\Users\\typhone'

In [2]:
import pandas_datareader as pdr

In [5]:
%time df=pdr.get_data_yahoo('AAPL')

Wall time: 1.55 s

In [12]:
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2009-12-31  30.447144  30.478571  30.080000  30.104286  20.301006   88102700
2010-01-04  30.490000  30.642857  30.340000  30.572857  20.616993  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  20.652637  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  20.324135  138040000
2010-01-07  30.250000  30.285715  29.864286  30.082857  20.286560  119282800

In [13]:
df[-300:]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-04-27,143.919998,144.160004,143.309998,143.789993,141.007004,14246300
2017-04-28,144.089996,144.300003,143.270004,143.649994,140.869705,20860400
2017-05-01,145.100006,147.199997,144.960007,146.580002,143.743011,33602900
2017-05-02,147.539993,148.089996,146.839996,147.509995,144.654999,45352200
2017-05-03,145.589996,147.490005,144.270004,147.059998,144.213715,45697000
2017-05-04,146.520004,147.139999,145.809998,146.529999,143.693954,23371900
2017-05-05,146.759995,148.979996,146.759995,148.960007,146.076935,27327700
2017-05-08,149.029999,153.699997,149.029999,153.009995,150.048538,48752400
2017-05-09,153.869995,154.880005,153.449997,153.990005,151.009598,39130400
2017-05-10,153.630005,153.940002,152.110001,153.259995,150.293716,25805700
2017-05-11,152.449997,154.070007,152.309998,153.949997,151.593491,27255100
2017-05-12,154.699997,156.419998,154.669998,156.100006,153.710602,32527000
2017-05-15,156.009995,156.649994,155.050003,155.699997,153.316727,26009700
2017-05-16,155.940002,156.059998,154.720001,155.470001,153.090256,20048500
2017-05-17,153.600006,154.570007,149.710007,150.250000,147.950150,50767700
2017-05-18,151.270004,153.339996,151.130005,152.539993,150.205078,33568200
2017-05-19,153.380005,153.979996,152.630005,153.059998,150.717133,26960800
2017-05-22,154.000000,154.580002,152.910004,153.990005,151.632904,22966400
2017-05-23,154.899994,154.899994,153.309998,153.800003,151.445801,19918900
2017-05-24,153.839996,154.169998,152.669998,153.339996,150.992844,19178000
2017-05-25,153.729996,154.350006,153.029999,153.869995,151.514725,19235600
2017-05-26,154.000000,154.240005,153.309998,153.610001,151.258728,21701100
2017-05-30,153.419998,154.429993,153.330002,153.669998,151.317795,20126900
2017-05-31,153.970001,154.169998,152.380005,152.759995,150.421722,24451200
2017-06-01,153.169998,153.330002,152.220001,153.179993,150.835281,16404100
2017-06-02,153.580002,155.449997,152.889999,155.449997,153.070541,27770700
2017-06-05,154.339996,154.449997,153.460007,153.929993,151.573807,25331700
2017-06-06,153.899994,155.809998,153.779999,154.449997,152.085846,26624900
2017-06-07,155.020004,155.979996,154.479996,155.369995,152.991776,21069600
2017-06-08,155.250000,155.539993,154.399994,154.990005,152.617584,21250800
...,...,...,...,...,...,...
2018-05-23,186.350006,188.500000,185.759995,188.360001,188.360001,19467900
2018-05-24,188.770004,188.839996,186.210007,188.149994,188.149994,20401000
2018-05-25,188.229996,189.649994,187.649994,188.580002,188.580002,17461000
2018-05-29,187.600006,188.750000,186.869995,187.899994,187.899994,22369000
2018-05-30,187.720001,188.000000,186.779999,187.500000,187.500000,18690500
2018-05-31,187.220001,188.229996,186.139999,186.869995,186.869995,27482800
2018-06-01,187.990005,190.259995,187.750000,190.240005,190.240005,23250400
2018-06-04,191.639999,193.419998,191.350006,191.830002,191.830002,26132000
2018-06-05,193.070007,193.940002,192.360001,193.309998,193.309998,21566000
2018-06-06,193.630005,194.080002,191.919998,193.979996,193.979996,20933600
2018-06-07,194.139999,194.199997,192.339996,193.460007,193.460007,21347200
2018-06-08,191.169998,192.000000,189.770004,191.699997,191.699997,26656800
2018-06-11,191.350006,191.970001,190.210007,191.229996,191.229996,18308500
2018-06-12,191.389999,192.610001,191.149994,192.279999,192.279999,16911100
2018-06-13,192.419998,192.880005,190.440002,190.699997,190.699997,21638400
2018-06-14,191.550003,191.570007,190.220001,190.800003,190.800003,21610100
2018-06-15,190.029999,190.160004,188.259995,188.839996,188.839996,61719200
2018-06-18,187.880005,189.220001,187.199997,188.740005,188.740005,18484900
2018-06-19,185.139999,186.330002,183.449997,185.690002,185.690002,33578500
2018-06-20,186.350006,187.199997,185.729996,186.500000,186.500000,20628700
2018-06-21,187.250000,188.350006,184.940002,185.460007,185.460007,25711900
2018-06-22,186.119995,186.149994,184.699997,184.919998,184.919998,27200400
2018-06-25,183.399994,184.919998,180.729996,182.169998,182.169998,31663100
2018-06-26,182.990005,186.529999,182.539993,184.429993,184.429993,24569200
2018-06-27,185.229996,187.279999,184.029999,184.160004,184.160004,25285300
2018-06-28,184.100006,186.210007,183.800003,185.500000,185.500000,17365200
2018-06-29,186.289993,187.190002,182.910004,185.110001,185.110001,22737700
2018-07-02,183.820007,187.300003,183.419998,187.179993,187.179993,17731300
2018-07-03,187.789993,187.949997,183.539993,183.919998,183.919998,13954800
2018-07-05,185.259995,186.410004,184.279999,185.399994,185.399994,16581500

## Quandl https://www.quandl.com/tools/python